html, body {
  height: 100%;
}

.grid {
    width: 80px;
    height: 80px;
    border: 5px solid green;
    margin: 3px;
    color: grey;
    font-size: 80px;
    font-family: "Verdana", sans-serif;
}

.Area {
    width:300px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
  font-family: "Verdana", sans-serif;
}
